html {
    overflow-x: hidden;
}

* {
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0px;
    padding: 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #152237;
    height: 80px;
    padding: 0 98px;
    gap: 0;
}

.logo_header {
    width: 84px;
    height: 31px;
    margin-right: 148px;

}

.lien_formation {
    color: white;
    font-size: 15px;
    white-space: nowrap;
    margin-right: 123px;
}

.search_container {
    flex: 1;
    max-width: 450px;
    margin-right: 30px;
}

.color_text {
    color: white;

}


.space {
    border: 1px solid #FFFFFF;
    background-color: #152237;
    width: 100%;
    max-width: 450px;
    height: 40px;
    border-radius: 6px;
    color: white;
    padding: 0 15px;
    font-size: 15px;
    background-image: url("/ressources/icone\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
    padding-right: 45px;

}

.space::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#inscription_connexion {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;



}

.btn_connexion,
.btn_inscription {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.btn_inscription {
    background: linear-gradient(to right,
            rgba(68, 221, 138, 1),
            rgba(21, 183, 226, 1));
    color: white;
}

.btn_connexion {
    background-color: #FFFFFF;
    color: #152237;

}



#banniere {
    background-image: linear-gradient(94.01deg,
            rgba(68, 221, 138, 0.8) 3.11%,
            rgba(21, 183, 226, 0.8) 98.45%),
        url("../ressources/bg-header.png");

    width: 100%;
    height: 451px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.titre1_banniere {
    margin-top: 151px;
   /* margin-left: 0 329px;*/
   text-align: center;
    align-content: center;
    font-weight: 800;
    font-size: 48px;


}

.titre2_banniere {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    text-align: center;
    /*margin-right: 155px;*/
    align-content: center;
    width: 100%;

}

.btn_savoirPlus {
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-top: 22px;
    border-color: #FFFFFF;

}

.titre_formation {
    font-weight: 800;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 34px;


}

#grande_card {
    height: 632px;
    width: 100%;
    padding: 30px;
    margin-top: 0;
    background-color: #FFFFFF;
}


#formation_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.image1 {
    width: 100%;
    height: 206px;

}

.card_content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 21px;


}

.card {
    width: 100%;
    position: relative;
}

.message {
margin-bottom: 11px;
}
.prof{
    margin-bottom: 5px;
}
.etoiles{
    margin-bottom: 10.8px;
}
.btn_voirplus{
border-radius: 6px;
background-color:#152237;
color: #FFFFFF;
width: 225px;
height: 40px;
justify-content: center;
align-content: center;

}
.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 43px;
}
.prix_badge{
    position: absolute;
    width: 120px;
    min-height: 31.58px;
    border-radius: 93px;
    background-color: #152237;
    color: #FFFFFF;
    width: 120;
left: 50%;
top: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 11px;

}

/*.prix_badge span{
    text-decoration: line-through;
    height: 7px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12.58px;
}*/
.prix{
font-weight: 700;
font-size: 20px;
line-height: 20px;
letter-spacing: -1.5%;

}
.prix_barre{
font-family: "Montserrat";
font-weight: 400;
font-style: "Regular";
font-size: 10px;
line-height: 7px;
letter-spacing: -1.5%;
text-decoration: line-through;
margin-left: 7px;

}
.titre1_formation {
    font-weight: 800;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 34px;
    color: #FFFFFF;


}

#grande_card1 {
    height: 632px;
    width: 100%;
    padding: 30px;
    margin-top: 0;
    background-color: #152237;
}


#formation_section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.image1 {
    width: 100%;
    height: 206px;

}

.card_content1 {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 21px;


}
.message1 ,.prof1 ,.description{
    color: #FFFFFF;
}

.card1 {
    width: 100%;
    position: relative;
}

.message1 {
margin-bottom: 11px;
}
.prof1{
    margin-bottom: 5px;
}
.etoile{
    margin-bottom: 10.8px;
}
.btn1_voirplus{
border-radius: 6px;
background-color:#FFFFFF;
color: #152237;
width: 225px;
height: 40px;
justify-content: center;
align-content: center;

}
.btn1_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 43px;
}
.prix1_badge{
    position: absolute;
    width: 120px;
    min-height: 31.58px;
    border-radius: 93px;
    background-color: #152237;
    color: #FFFFFF;
    width: 120;
left: 50%;
top: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 11px;

}

/*.prix_badge span{
    text-decoration: line-through;
    height: 7px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12.58px;
}*/
.prix1{
font-weight: 700;
font-size: 20px;
line-height: 20px;
letter-spacing: -1.5%;

}
.prix1_barre{
font-family: Montserrat;
font-weight: 400;
font-style: "Regular";
font-size: 10px;
line-height: 7px;
letter-spacing: -1.5%;
text-decoration: line-through;
margin-left: 7px;

}
